@import "~bootstrap/scss/bootstrap";

$white: #fff;

.btn-success {
  color: $white !important;
}

#cats {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
  grid-auto-rows: 1fr;

  .cat {
    padding: 1vw;

    .card {
      height: 100%;

      .card-body {
        position: relative;

        .btn {
          position: absolute;
          margin: 0 auto;
          left: 0;
          right: 0;
          bottom: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  #cats {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  }
}

@media screen and (max-width: 425px) {
  #cats {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    grid-auto-rows: auto;
  }
}
